/* css styling the login.html page with the class names displayed below*/
body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.whiteDiv{
	background-color: #eee; 
	height: 730px;
	width: 50%;
}
.welcomeDiv{
	background-color: #FF416C;
	height: 730px;
	width: 50%;
	top:0px;
	position: absolute;
	left: 50%;
}
#greetings{
	color: white;
	font-size: 70px;
	top:240px;
	left:120px;
	position: relative;
}
.greetingsPara{
	color: white;
	font-size: 30px;
	top:210px;
	left: 150px;
	position: relative;
}
nav{
	top:60px;
	position: relative;
}
.nav{
	text-decoration: none;
	font-size: 25px;
	color:white;
	padding: 60px;
}
.nav:hover{
	color: gray;
}
.createAcc{
	top:100px;
	left:100px;
	position: absolute;
	font-size: 50px;
}
form{
	top:180px;
	left:100px;
	position: relative;
}
.input{
	padding-top: 30px;
	border-top:none;
	background-color: #eee;
	border-left:none;
	border-right:none;
	border-bottom-width: 1px;
	width: 300px;
	font-size: 15px;
	outline: none;
	border-bottom-color:black;
}
.nav1{
	color:black; 
	left:550px; 
	text-decoration: none; 
	font-size: 25px; 
	position: relative;
}
.nav1:hover{
	color: gray;
}
.signupButton{
	left: 150px;
	top:190px;
	position: relative;
	width:200px;
	height: 40px;
	font-size: 20px;
	background-color: white;
	border-color: #FF416C;
	border-radius: 20px;
}
.signupButton:hover{
	background-color:#FF416C;
	border: none;
}
.login{
	left:100px;
	top:500px;
	position: absolute;
}