/* style for update.php */
form{
    top:200px;
    left:400px;
    position: absolute;
}
input{
    margin: 10px;
    
}
label{
    width: 100px;
    display: inline-block;
}
.button{
    top:20px;
    position: relative;
    border:none;
    width:150px;
    height:30px;
    background-color: green;
    border-radius:5px;
}